<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://www.msldental.com/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.php" />
                <add value="index.htm" />
                <add value="default.aspx" />
                <add value="delete-this-temporary-page.html" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <remove name="alt-sec" />
                <add name="alt-svc" value="h3=&quot;:443&quot;;" />
                <add name="X-Powered-By" value="ENGUARD.COM" />
                <add name="Strict-Transport-Security" value="max-age=63072000" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
